.admin-filter-dropdown-content {
  border: 1px solid #ccc;
  padding: 6px 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.admin-filter-dropdown-content:hover ul {
  display: block;
}
.admin-filter-dropdown-content ul {
  display: none;
  position: absolute;
  transition: 0.5s;
  top: 56%;
  left: 0;
  border: 1px solid #ccc;
  background: white;
  width: 100%;
  border-radius: 5px;
  padding-left: 0;
}

.admin-filter-dropdown-content ul li {
  list-style: none;
  padding: 5px 8px;
  transition: 0.5s;
}

.admin-filter-dropdown-content ul li:hover {
  background: #eeeeee;
}

.admin-modal-view-product .ant-modal-close {
  border: 1px solid #ccc;
  border-radius: 50%;
}
.dropdown-ul ul {
  display: none;
}
.dropdown-ul:hover ul {
  display: block;
}

.admin-border-bottom {
  border-bottom: 1px solid #ccc;
}
.admin-pagination-input .admin-none {
  display: none;
}
.admin-flex {
  display: none;
}

.col-full {
  width: 70%;
}

@media only screen and (max-width: 960px) {
  .admin-none {
    display: block;
  }
  .admin-flex {
    display: flex;
  }

  .col-full {
    width: 100%;
  }
}

.transform-50 {
  transform: translate(-50%, -50%);
}

.add-product-show-image:hover div:last-child {
  display: flex;
}

