@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --menuWidth: calc(100% - 20px);
  --leftColBackground: #fff;
  --lightLeftColBackground: #f3f3f3;
  --darkLeftColBackground: #22272b;
  --pink: #e83e8c;
  --red: #e60e0e;
  --main: #002069;
  --mainColor: #0039a0;
  --mainColor2: #0447c2;
  --menuHover: #f9c136;
  --accentColor1: #929292;
  --accentColor2: #ffb600;
  --textColor: #4c4c4c;
  --toastSuccessBg: #d1e7dd;
  --toastSuccessCl: #0f5132;
  --toastWarningBg: #fff3cd;
  --toastWarningCl: #664d03;
  --toastErrorBg: #f8d7da;
  --toastErrorCl: #842029;
  --toastSystemBg: #d3d3d4;
  --toastSystemCl: #141619;
  --warning: #ffc107;
  --green: #00b907;
  --font-name: "SVN-Circular";
}
::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh cuộn */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Màu nền của phần track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--main); /* Màu của thanh cuộn */
  border-radius: 4px; /* Độ cong góc của thanh cuộn */
}
.scrollbar-style::-webkit-scrollbar {
  height: 6px;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.shadow-10 {
  box-shadow: 0 0 8px #ccc;
}

.shadow-top-10 {
  box-shadow: 0px 15px 5px #ff0000;
}

.radius-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.svg-nav-bot {
  font-size: 20px;
}

.svg-nav-bot path {
  stroke: var(--mainColor);
}
.table > :not(caption) > * > * {
  border-bottom-width: 0;
}
.bg-main {
  background: #f2f2f2;
}
.hv-text-main {
  color: #0039a0;
}

label {
  user-select: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  box-shadow: none;
}
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}
/* input[type="text"] {
  border-radius: 10px;
} */

.z-500 {
  z-index: 500 !important;
}
.z-8000 {
  z-index: 8000 !important;
}
.z-9000 {
  z-index: 600 !important;
}
.z-700 {
  z-index: 700 !important;
}

input:focus[type="text"],
input:hover[type="text"],
input:focus[type="number"],
input:hover[type="number"],
textarea:focus,
textarea:hover,
select:focus,
select::selection {
  border: 1px solid #000;
  outline: none;
  box-shadow: none;
}
.borders-see-more {
  border: 1px solid #f3f4f6;
}

.card-shadow {
  box-shadow: 0 0 5px #ccc;
}
.border-main-2 {
  border: 1px solid var(--main);
}
.border-main {
  border: 1px solid var(--mainColor);
}
.border-main-dashed {
  border: 1px dashed var(--mainColor);
}
.border-gray {
  border: 1px solid #ccc;
}
.border-red {
  border: 1px solid var(--red);
}

.hover-border-main:hover {
  border: 1px solid var(--mainColor);
  background: #fff;
  color: var(--mainColor) !important;
}

.hover-overlay:hover {
  animation: animateHoverOverlay 0.5s linear;
}

@keyframes animateHoverOverlay {
  0% {
    height: 0;
  }

  90% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}

.ban {
  pointer-events: none;
  cursor: default;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-minus-10 {
  padding: 0 -10px !important;
}

.line-1 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  height: calc(21px * 1);
  line-height: 21px;
  text-overflow: ellipsis;
}
.line-2 {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 2;
  height: calc(21px * 2);
  line-height: 21px;
  text-overflow: ellipsis;
}

.border-tag {
  border-top-left-radius: 25px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.zoom-image:hover {
  transform: scale(1.1);
  transition: 0.3s all ease;
}

body:hover .zoom-image {
  transition-duration: 0.5s;
}

.btn-home {
  box-shadow: 0 0 8px #ccc;
  padding: 12px 0;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.btn-home:hover {
  box-shadow: 0 0 8px var(--mainColor);
}

.btn-main {
  border: 1px solid #bababa;
  background: #fafafa;
  padding: 8px 12px;
  border-radius: 10px;
  transition: 0.3s all ease;
  cursor: pointer;
  font-size: 1em;
}

input:checked[type="radio"] + span,
input:checked[type="checkbox"] + .btn-main,
.btn-main:hover,
.btn-main.clicked {
  border-color: var(--mainColor);
  color: var(--mainColor2);
}

.btn-clr-main {
  display: block;
  background: var(--mainColor);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.tag-trip {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 0;
  padding: 0;
}

.tag-trip::before {
  position: absolute;
  content: "";
  bottom: -18%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid #ff5500;
}

.hover-bdr-yellow:hover {
  border: 1px solid var(--menuHover);
  background: #fff;
}

.hover-bdr-yellow:hover span {
  color: var(--menuHover) !important;
}

.hover-bdr-blue:hover {
  border: 1px solid var(--mainColor);
  background: #fff;
}

.hover-bdr-blue:hover span {
  color: var(--mainColor) !important;
}

.sticky-bottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #fff;
}
svg.svg-white path {
  stroke: #fff;
}
svg.svg-orange path {
  stroke: #ff9419;
}
svg.svg-main path {
  stroke: var(--mainColor);
}
.center-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-multiple-carousel__arrow--left {
  left: 0 !important;
  top: 30% !important;
  background: #e5e5e5 !important;
  opacity: 1 !important;
  width: 30px !important;
  height: 60px;
  z-index: 100 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.react-multiple-carousel__arrow--right {
  right: 0 !important;
  top: 30% !important;
  background: #e5e5e5 !important;
  opacity: 1 !important;
  width: 30px !important;
  height: 60px;
  z-index: 100 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
}

.react-multiple-carousel__arrow--left::before,
.react-multiple-carousel__arrow--right::before {
  left: 30%;
  width: 15px !important;
  height: 15px !important;
  color: transparent !important;
  border-top: 2px solid #000 !important;
  border-left: 2px solid #000 !important;
  border-right: 2px solid transparent !important;
  border-bottom: 2px solid transparent !important;
  background: transparent !important;
}

.react-multiple-carousel__arrow--left::before {
  transform: rotate(315deg);
}
.react-multiple-carousel__arrow--right::before {
  transform: rotate(135deg);
}

.sliderbar-banner .react-multiple-carousel__arrow--left,
.sliderbar-banner .react-multiple-carousel__arrow--right {
  top: 40% !important;
}

.home-carousel-category .react-multiple-carousel__arrow--left,
.home-carousel-category .react-multiple-carousel__arrow--right {
  background: #0000000e !important;
}

.show-dropdown {
  display: none;
}
.hover-show-dropdown:hover .show-dropdown {
  display: block;
}