.col-5w {
  width: 20%;
}

.col-4w {
  width: 25%;
}
.col-6w {
  width: calc(100% / 6);
}
.block-flex {
  display: block;
}

.block-none {
    display: block;
}

.flex-block {
  display: flex;
}
.d-block-none {
  display: block !important;
}
.d-none-flex {
  display: none !important;
}
.d-flex-none {
  display: flex !important;
}
.d-none-block {
  display: none !important;
}
.d-flex-block {
  display: flex !important;
}
@media only screen and (max-width: 1300px) {
  .d-tb-none {
    display: none;
  }
  .d-tb-show {
    display: block;
  }
  .col-tb-1 {
    width: 8.33%;
  }
  .col-tb-2 {
    width: 16.66%;
  }
  .col-tb-3 {
    width: 25%;
  }
  .col-tb-4 {
    width: 33.33% !important;
  }
  .col-tb-5 {
    width: 41.66%;
  }
  .col-tb-6 {
    width: 50%;
  }
  .col-tb-7 {
    width: 58.33%;
  }
  .col-tb-8 {
    width: 66.66%;
  }
  .col-tb-9 {
    width: 75%;
  }
  .col-tb-10 {
    width: 83.33%;
  }
  .col-tb-11 {
    width: 91.66%;
  }
  .col-tb-12 {
    width: 100%;
  }
}
.d-lg-none {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .d-tbm-none {
    display: none !important;
  }
  .block-flex {
    display: flex;
  }
  .block-none {
    display: none!important;
  }

  .flex-block {
    display: block;
  }

  .col-tbm-1 {
    width: 8.33%;
  }
  .col-tbm-2 {
    width: 16.66%;
  }
  .col-tbm-3 {
    width: 25%;
  }
  .col-tbm-4 {
    width: 33.33% !important;
  }
  .col-tbm-5 {
    width: 41.66%;
  }
  .col-tbm-6 {
    width: 50%;
  }
  .col-tbm-7 {
    width: 58.33%;
  }
  .col-tbm-8 {
    width: 66.66%;
  }
  .col-tbm-9 {
    width: 75%;
  }
  .col-tbm-10 {
    width: 83.33%;
  }
  .col-tbm-11 {
    width: 91.66%;
  }
  .col-tbm-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
 
  .d-sm-flex {
    display: flex;
  }
  .d-block-none {
    display: none !important;
  }
  .d-none-flex {
    display: flex !important;
  }
  .d-flex-block {
    display: block !important;
  }
  .d-tbs-block {
    display: block !important;
  }
  .d-flex-none {
    display: none !important;
  }
  .d-tbs-none {
    display: none !important;
  }
  .d-none-block {
    display: block !important;
  }
  .col-tbs-1 {
    width: 8.33%;
  }
  .col-tbs-2 {
    width: 16.66%;
  }
  .col-tbs-3 {
    width: 25%;
  }
  .col-tbs-4 {
    width: 33.33%;
  }
  .col-tbs-5 {
    width: 41.66%;
  }
  .col-tbs-6 {
    width: 50% !important;
  }
  .col-tbs-7 {
    width: 58.33%;
  }
  .col-tbs-8 {
    width: 66.66%;
  }
  .col-tbs-9 {
    width: 75%;
  }
  .col-tbs-10 {
    width: 83.33%;
  }
  .col-tbs-11 {
    width: 91.66%;
  }
  .col-tbs-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 577px) {
  .d-sm-flex {
    display: flex;
  }
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
